[submodule "cfe"]
	path = cfe
	url = https://github.com/metecs/cFE.git
	branch = 94442c2fd01064ab3221463a0fb7a95fc34ad08a
[submodule "osal"]
	path = osal
	url = https://github.com/metecs/osal.git
	branch = 8239eb5b521fdac68a09973e8e5ce6eb4a251e90
[submodule "psp"]
	path = psp
	url = https://github.com/metecs/PSP.git
        branch = 91e209def67fc8a8f2e78691cd841165ca782e0c
[submodule "apps/ci_lab"]
	path = apps/ci_lab
	url = https://github.com/metecs/ci_lab.git
        branch = 84f7d07a8007b4299c75cda643335cb38d200926
[submodule "apps/sample_app"]
	path = apps/sample_app
	url = https://github.com/metecs/sample_app.git
        branch = 46db0fbdeb3a06db9bbb32187dd41a92a0e3cd13
[submodule "apps/sample_lib"]
	path = apps/sample_lib
	url = https://github.com/metecs/sample_lib.git
        branch = df3dd7e6ec4708c594471bf5f9a358010328767a
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = https://github.com/metecs/sch_lab.git
        branch = 2797196dc46206caf09aecc799cc0d3deba5d36a
[submodule "apps/to_lab"]
	path = apps/to_lab
	url = https://github.com/metecs/to_lab.git
        branch = a307084eaff7abd4631db2c053ae66db453a251a
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = https://github.com/metecs/cFS-GroundSystem.git
        branch = b9d4de03df7e3075b928ceff320e1a3eee76852b
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = https://github.com/metecs/elf2cfetbl.git
        branch = 3dc2a61f7d44bade7e00e57afe1f4c80381395d7
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = https://github.com/metecs/tblCRCTool.git
        branch = d61efe6ab69626633786d7cee6b2b30089fe52d8
